<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.eclipse.eavp.viz.service.paraview.proxy.IParaViewProxyBuilder" name="IParaViewProxyBuilder" schema="schema/org.eclipse.eavp.viz.service.paraview.proxy.IParaViewProxyBuilder.exsd"/>
   <extension-point id="org.eclipse.eavp.viz.service.paraview.proxy.IParaViewProxyFactory" name="IParaViewProxyFactory" schema="schema/org.eclipse.eavp.viz.service.paraview.proxy.IParaViewProxyFactory.exsd"/>
   <extension
         id="org.eclipse.eavp.viz.service.paraview.preferencePage"
         name="ParaView Preferences"
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.eavp.viz.service.preferences"
            class="org.eclipse.eavp.viz.service.paraview.connections.ParaViewConnectionPreferencePage"
            id="org.eclipse.eavp.viz.service.paraview.preferences"
            name="ParaView">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.eavp.viz.service.paraview.preferences.ParaViewPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.eavp.viz.service.paraview.proxy.IParaViewProxyBuilder">
      <client
            class="org.eclipse.eavp.viz.service.paraview.proxy.exodus.ExodusProxyBuilder">
      </client>
   </extension>
   <extension
         point="org.eclipse.eavp.viz.service.paraview.proxy.IParaViewProxyBuilder">
      <client
            class="org.eclipse.eavp.viz.service.paraview.proxy.silo.SiloProxyBuilder">
      </client>
   </extension>
   <extension
         point="org.eclipse.eavp.viz.service.paraview.proxy.IParaViewProxyFactory">
      <client
            class="org.eclipse.eavp.viz.service.paraview.proxy.ParaViewProxyFactory">
      </client>
   </extension>
   <extension
         point="org.eclipse.eavp.viz.service.IVizService">
      <client
            class="org.eclipse.eavp.viz.service.paraview.ParaViewVizService">
      </client>
   </extension>

</plugin>
