<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="sassenaIncoherentModelBuilder"
         name="Sassena Incoherent Model"
         point="org.eclipse.ice.item.itemBuilder">
      <implementation
            class="org.eclipse.ice.sassena.SassenaIncoherentModelBuilder">
      </implementation>
   </extension>
   <extension
         id="sassenaCoherentModelBuilder"
         name="Sassena Coherent Model"
         point="org.eclipse.ice.item.itemBuilder">
      <implementation
            class="org.eclipse.ice.sassena.SassenaCoherentModelBuilder">
      </implementation>
   </extension>

</plugin>
