<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="xmlPersistenceProvider"
         name="XML Persistence Writer"
         point="org.eclipse.ice.io.writer">
      <implementation
            class="org.eclipse.ice.persistence.xml.XMLPersistenceProvider">
      </implementation>
   </extension>
   <extension
         id="xmlPersistenceProvider"
         name="XML Persistence Reader"
         point="org.eclipse.ice.io.reader">
      <implementation
            class="org.eclipse.ice.persistence.xml.XMLPersistenceProvider">
      </implementation>
   </extension>
   <extension
         id="xmlPersistenceProvider"
         name="XML Persistence Provider"
         point="org.eclipse.ice.core.persistenceProvider">
      <implementation
            class="org.eclipse.ice.persistence.xml.XMLPersistenceExtensionFactory">
      </implementation>
   </extension>
 <extension
       id="org.eclipse.ice.persistence.xml.contentTypes"
       name="ICE XML Content Type"
       point="org.eclipse.core.contenttype.contentTypes">
    <content-type
          base-type="org.eclipse.core.runtime.xml"
          describer="org.eclipse.ice.persistence.xml.XMLFormContentDescriber"
          file-extensions="xml"
          id="org.eclipse.ice.persistence.xml.contentType.Form"
          name="ICE Form"
          priority="normal">
    </content-type>
 </extension>
</plugin>
