<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>
   <extension-point id="environmentbuilder" name="Environment Builder" schema="schema/environmentBuilder.exsd"/>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated environment -->
      <package
            uri="http://eclipse.org/ice/apps"
            class="apps.EnvironmentPackage"
            genModel="model/hello.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated apps -->
      <package
            uri="http://eclipse.org/ice/apps"
            class="apps.AppsPackage"
            genModel="model/apps.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated environment -->
      <package
            uri="http://eclipse.org/apps/docker"
            class="apps.docker.DockerPackage"
            genModel="model/hello.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated environment -->
      <package
            uri="https://eclipse.org/apps/local"
            class="apps.local.LocalPackage"
            genModel="model/hello.genmodel"/>
   </extension>

</plugin>
