<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.ice.projectgeneration.wizards"
            name="ICE Item Creation Wizards">
      </category>
      <wizard
            category="org.eclipse.ice.projectgeneration.wizards"
            class="org.eclipse.ice.projectgeneration.NewICEItemWizard"
            id="org.eclipse.ice.projectgeneration.wizard.new.item"
            name="ICE Item Creation Wizard">
      </wizard>
   </extension>

</plugin>
