<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.ice.projectgeneration.wizards"
            name="ICE Item Creation Wizards">
      </category>
      <wizard
            category="org.eclipse.ice.projectgeneration.wizards"
            class="org.eclipse.ice.projectgeneration.WizardNewICEItemProject"
            id="org.eclipse.ice.projectgeneration.wizard.new.item"
            name="ICE Item Project Creation Wizard">
      </wizard>
      <wizard 
      		category="org.eclipse.ice.projectgeneration.wizards"
      		class="org.eclipse.ice.projectgeneration.NewModelBuilderClass"
      		id="org.eclipse.ice.projectgeneration.wizard.new.model.builder"
      		name="ICE Model Builder">
      </wizard>
      <wizard 
      		category="org.eclipse.ice.projectgeneration.wizards"
      		class="org.eclipse.ice.projectgeneration.NewJobLauncherClass"
      		id="org.eclipse.ice.projectgeneration.wizard.new.model.launcher"
      		name="ICE Job Launcher">
      </wizard>
   </extension>
   <extension
         id="org.eclipse.ice.projectgeneration"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.eclipse.ice.projectgeneration.ICEItemNature">
         </run>
      </runtime>
   </extension>

</plugin>
