<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.pde.ui.newExtension">
      <category
            id="org.eclipse.ice.projectgeneration.wizards"
            name="ICE Item Creation Wizards">
      </category>
      <wizard
      		id="org.eclipse.ice.projectgeneration.templates.JobLauncherWizard"
      		name="Job Launcher Template"
      		template="org.eclipse.ice.projectgeneration.templates.JobLauncherTemplate">
      </wizard>
      <wizard
      		id="org.eclipse.ice.projectgeneration.templates.JobLauncherBuilderWizard"
      		name="Job Launcher Builder Template"
      		template="org.eclipse.ice.projectgeneration.templates.JobLauncherBuilderTemplate">
      </wizard>
      <wizard
      		id="org.eclipse.ice.projectgeneration.templates.ModelWizard"
      		name="Model Template"
      		template="org.eclipse.ice.projectgeneration.templates.ModelTemplate">
      </wizard>
	  <wizard
      		id="org.eclipse.ice.projectgeneration.templates.ModelBuilderWizard"
      		name="Model Builder Template"
      		template="org.eclipse.ice.projectgeneration.templates.ModelBuilderTemplate">
      </wizard>
   </extension>
   <extension
   		point="org.eclipse.pde.ui.templates">
   		<template
   			class="org.eclipse.ice.projectgeneration.templates.ICEItemTemplate"
   			contributingId="org.eclipse.ice.item"
   			id="org.eclipse.ice.projectgeneration.templates.ICEItemTemplate"
   			name="Job Launcher">
   		</template>
   </extension>

</plugin>
