<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.eclipse.ice.viz.service.preferencePage"
         name="Visualization Preferences"
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.eclipse.ice.viz.service.preferences.VizPreferencePage"
            id="org.eclipse.ice.viz.service.preferences"
            name="Visualization">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.ice.viz.service.preferences.VizPreferenceInitializer">
      </initializer>
   </extension>	
   		
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.ice.viz.service.PlotEditor"
            default="false"
            id="org.eclipse.ice.viz.service.PlotEditor"
            name="PlotEditor">
      </editor>
   </extension>
   
</plugin>
