<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated eclipseapps -->
      <package
            uri="http://eclipse.org/ice/apps/eclipseimpl"
            class="eclipseapps.EclipseappsPackage"
            genModel="model/eclipseapps.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="eclipseapps.impl.EnvironmentStartup">
      </startup>
   </extension>

</plugin>
