<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="PolyItemBuilder"
         name="Poly Item"
         point="org.eclipse.ice.item.itemBuilder">
      <implementation
            class="org.eclipse.ice.poly.PolyItemBuilder">
      </implementation>
   </extension>

</plugin>
