<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="reflectivityModelBuilder"
         name="Reflectivity Model"
         point="org.eclipse.ice.item.itemBuilder">
      <implementation
            class="org.eclipse.ice.reflectivity.ReflectivityModelBuilder">
      </implementation>
   </extension>

</plugin>
