<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="persistenceProvider" name="Persistence Provider" schema="schema/persistenceProvider.exsd"/>
   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="org.eclipse.ice.core.launcher.CoreIApplication">
         </run>
      </application>
   </extension>
   <extension
         id="org.eclipse.ice.core.basicLoginModule"
         name="ICE Basic Login Module"
         point="org.eclipse.equinox.security.loginModule">
      <loginModule
            class="org.eclipse.ice.core.internal.SimpleLogin">
      </loginModule>
   </extension>
   <extension
         point="org.eclipse.core.runtime.applications"
         id="app"
         name="%appName">
      <application>
         <run
            class="org.eclipse.ice.core.launcher.CoreIApplication">
         </run>
      </application>
   </extension>   
   <extension
         id="headless_product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ice.core.application"
            name="ICE Headless Product">
         <property
               name="appName"
               value="ICE Headless Product">
         </property>
      </product>
   </extension>
</plugin>
