/documen.synctex.gz
/tmp/
/bin/
/OutputVisualizationTutorial.aux
/OutputVisualizationTutorial.log
/OutputVisualizationTutorial.out
/document.pdf
/visualizationTutorial.aux
/visualizationTutorial.log
/visualizationTutorial.out
/vizTutoria.synctex.gz
/vizTutorial.pdf
/vizTutorial.synctex.gz
