<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

 	   <!--Custom Geometry Properties View-->
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.eclipse.ice.client.widgets.geometry.GeometryFormEditor"
            tabDescriptorProvider="org.eclipse.eavp.viz.service.geometry.properties.ShapeTabDescriptorProvider">
         <propertyCategory
               category="Reflectivity"></propertyCategory>
      </propertyContributor>
   </extension>
      <extension
         id="geometryformwidgetbuilder"
         name="Geometry Form Widget Builder"
         point="org.eclipse.ice.client.widgets.iformwidgetbuilder">
      <implementation
            class="org.eclipse.ice.geometry.GeometryFormWidgetBuilder">
      </implementation>
   </extension>
    <extension
        id="org.eclipse.ice.client.widgets.GeometryEditors"
        point="org.eclipse.ui.editors">
    <editor
          class="org.eclipse.ice.geometry.GeometryFormEditor"
          default="false"
          extensions="xml"
          id="org.eclipse.ice.geometry.GeometryFormEditor"
          name="Geometry Editor">
       <contentTypeBinding
             contentTypeId="org.eclipse.ice.reflectivity.ui.xml.contentType.Form">
       </contentTypeBinding>
    </editor>
 </extension>
    <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.ice.geometry.GeometryFormEditor"
            default="false"
            id="org.eclipse.ice.client.widgets.geometry.GeometryFormEditor"
            name="GeometryEditor">
      </editor>
   </extension>
	<extension point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
		<propertyContributor 
			contributorId="org.eclipse.ice.reflectivity.ui.GeometryFormEditor"
			tabDescriptorProvider="org.eclipse.eavp.viz.service.geometry.properties.ShapeTabDescriptorProvider">
			<propertyCategory category="GeometrySelection"/>
		</propertyContributor>
	</extension>
</plugin>
