<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<plugin>

	<!-- RCP Entry point -->
   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.eclipse.ice.client.rcp.EclipseClient">
         </run>
      </application>
   </extension>
    <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ice.client.rcp.application"
            description="The Eclipse Integrated Computational Environment"
            name="ICE">
         <property
               name="appName"
               value="ICE">
         </property>
		<property
    		name="applicationXMI"
		    value="org.eclipse.platform/LegacyIDE.e4xmi">
		</property>
		<property
    		name="cssTheme"
    		value="org.eclipse.e4.ui.css.theme.e4_default">
		</property>
      </product>
  </extension>
    <extension
          point="org.eclipse.ui.actionSets">
       <actionSet
             id="org.eclipse.ice.client.rcp.fileActionSet"
             label="FileActionSet"
             visible="true">
          <menu
                id="file"
                label="&amp;FileMenu">
             <separator
                   name="fileGroup">
             </separator>
          </menu>
          <action
                class="org.eclipse.ice.client.rcp.actions.SwitchWorkspaceActionDelegate"
                id="org.eclipse.ice.client.rcp.actions.SwitchWorkspaceAction"
                label="&amp;Switch Workspace"
                menubarPath="File/"
                tooltip="Switch to a new Workspace location...">
          </action>
       </actionSet>
    </extension>

</plugin>
