## Declarations
#set($interface = "IPersistenceHandler")
##
#if($package)
package $package;
#end

import java.util.UUID;

import org.bson.Document;
import org.eclipse.ice.dev.annotations.IDataElement;
import org.eclipse.ice.dev.annotations.IPersistenceHandler;

import com.fasterxml.jackson.databind.ObjectMapper;
import com.mongodb.client.MongoCollection;
import com.mongodb.client.MongoDatabase;
import com.mongodb.client.model.Filters;

public class $class implements $interface {

	/**
	 * The name of the collection backing this PersistenceHandler.
	 */
	private final static String COLLECTION = "$collection";

	/**
	 * The collection in which implementations of $elementInterface will be stored.
	 */
	private MongoCollection<Document> collection;

	/**
	 * Convert values from Document to $implementation using mapper.
	 */
	private ObjectMapper mapper = new ObjectMapper();

	public $class(MongoDatabase db) {
		this.collection = db.getCollection(COLLECTION);
	}

	@Override
	public <T extends IDataElement> void save(T element) throws Exception {
		this.collection.insertOne(Document.parse(element.toJSON()));
	}

	@Override
	public <T extends IDataElement> T findByUUID(UUID uuid) throws Exception {
		Document doc = this.collection
			.find(Filters.eq("privateId", uuid.toString()))
			.first();
		if (doc == null) {
			return null;
		}

		Person element = new PersonImplementation().fromJSON(doc);
		return (T) element;
	}

	#foreach($field in $fields)
	#if(${field.Getter} && ${field.Search})

	/**
	 * Find $elementInterface by ${field.Name}.
	 * @param ${field.Name}
	 * @return Iterator of results
	 */
	#if(${field.DefaultField})
	@Override
	#end
	public <T extends IDataElement> Iterable<T> findBy${field.NameForMethod}(${field.Type} ${field.Name}) throws Exception {
		return this.collection.find(Filters.eq("${field.Name}", ${field.Name}))
			.map(doc -> new ${implementation}().fromJSON(doc));
	}
	#end
	#end

	@Override
	public long clear() throws Exception {
		return this.collection.deleteMany(new Document()).getDeletedCount();
	}
}