<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.eclipse.ice.viz.service.IMasterApplicationFactory" name="IMasterApplicationFactory" schema="schema/org.eclipse.ice.viz.service.IMasterApplicationFactory.exsd"/>
   <extension
         point="org.eclipse.ice.viz.service.IVizService">
      <client
            client="org.eclipse.ice.viz.service.jme3.geometry.JME3GeometryVizService">
      </client>
   </extension>
   <extension
         point="org.eclipse.ice.viz.service.IVizService">
      <client
            client="org.eclipse.ice.viz.service.jme3.mesh.JME3MeshVizService">
      </client>
   </extension>
   <extension
         point="org.eclipse.ice.viz.service.IMasterApplicationFactory">
      <client
            class="org.eclipse.ice.viz.service.jme3.internal.MasterApplicationFactory">
      </client>
   </extension>

</plugin>
