<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="luna" sequenceNumber="6">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.nebula.feature.feature.group" version="1.0.0.201409040043"/>
<repository location="http://download.eclipse.org/technology/nebula/archives/Q32014/release/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.swtbot.eclipse.test.junit.feature.group" version="2.2.1.201402241301"/>
<unit id="org.eclipse.swtbot.ide.feature.group" version="2.2.1.201402241301"/>
<unit id="org.eclipse.swtbot.forms.feature.group" version="2.2.1.201402241301"/>
<unit id="org.eclipse.swtbot.eclipse.gef.feature.group" version="2.2.1.201402241301"/>
<unit id="org.eclipse.swtbot.eclipse.feature.group" version="2.2.1.201402241301"/>
<unit id="org.eclipse.swtbot.feature.group" version="2.2.1.201402241301"/>
<unit id="org.eclipse.swtbot.generator.feature.feature.group" version="2.2.1.201402241301"/>
<repository location="http://download.eclipse.org/technology/swtbot/releases/latest/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="ca.odell.glazedlists" version="1.9.0.v201303080712"/>
<unit id="com.sun.jersey" version="1.17.0.v20130314-2020"/>
<unit id="javax.ws.rs" version="1.1.1.v20130318-1750"/>
<unit id="org.codehaus.jackson.jaxrs" version="1.6.0.v20101005-1100"/>
<unit id="com.google.gson" version="2.2.4.v201311231704"/>
<unit id="javax.xml.rpc" version="1.1.0.v201209140446"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20140525021250/repository/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.platform.sdk" version="4.4.1.M20140925-0400"/>
<unit id="org.eclipse.ptp.remote.terminal.feature.group" version="8.1.0.201409161348"/>
<unit id="org.eclipse.ptp.etfw.feedback.perfsuite.feature.group" version="8.1.0.201409161348"/>
<unit id="org.eclipse.equinox.core.sdk.feature.group" version="3.10.0.v20140909-1633"/>
<unit id="org.eclipse.ptp.etfw.feature.group" version="8.1.0.201409161348"/>
<unit id="org.eclipse.sdk.feature.group" version="4.4.0.v20140925-0400"/>
<unit id="org.eclipse.ptp.rdt.remotetools.feature.group" version="8.1.0.201409161348"/>
<unit id="org.eclipse.equinox.serverside.sdk.feature.group" version="3.10.0.v20140909-1633"/>
<unit id="org.eclipse.ptp.rm.ibm.ll.feature.group" version="8.1.0.201409161348"/>
<unit id="org.eclipse.ptp.rm.jaxb.contrib.feature.group" version="8.1.0.201409161348"/>
<unit id="org.eclipse.ptp.rdt.sync.fortran.feature.group" version="8.1.0.201409161348"/>
<unit id="org.eclipse.ptp.etfw.tau.fortran.feature.group" version="8.1.0.201409161348"/>
<unit id="org.eclipse.ptp.rdt.feature.group" version="8.1.0.201409161348"/>
<unit id="org.eclipse.ptp.pldt.fortran.feature.group" version="8.1.0.201409161348"/>
<unit id="org.eclipse.ptp.core.feature.group" version="8.1.0.201409161348"/>
<unit id="org.eclipse.equinox.compendium.sdk.feature.group" version="3.10.0.v20140416-2102"/>
<unit id="org.eclipse.ptp.pldt.upc.feature.group" version="8.1.0.201409161348"/>
<unit id="org.eclipse.ptp.rm.ibm.pe.feature.group" version="8.1.0.201409161348"/>
<unit id="org.eclipse.cdt.feature.group" version="8.5.0.201409172108"/>
<unit id="org.eclipse.platform.ide" version="4.4.1.M20140925-0400"/>
<unit id="org.eclipse.ptp.fortran.feature.group" version="8.1.0.201409161348"/>
<unit id="org.eclipse.ptp.remote.rse.feature.group" version="8.1.0.201409161348"/>
<unit id="org.eclipse.ptp.remote.remotetools.feature.group" version="8.1.0.201409161348"/>
<unit id="org.eclipse.ptp.gem.feature.group" version="8.1.0.201409161348"/>
<unit id="org.eclipse.ptp.rdt.sync.feature.group" version="8.1.0.201409161348"/>
<unit id="org.eclipse.ptp.debug.sdm.feature.group" version="8.1.0.201409161348"/>
<unit id="org.eclipse.ptp.rdt.sync.cdt.feature.group" version="8.1.0.201409161348"/>
<unit id="org.eclipse.rcp.feature.group" version="4.4.0.v20140925-0400"/>
<unit id="org.eclipse.equinox.server.jetty.feature.group" version="1.1.100.v20140416-1649"/>
<unit id="org.eclipse.ptp.etfw.tau.feature.group" version="8.1.0.201409161348"/>
<unit id="org.eclipse.ptp.rm.slurm.feature.group" version="8.1.0.201409161348"/>
<unit id="org.eclipse.ptp.rm.ibm.platform.lsf.feature.group" version="8.1.0.201409161348"/>
<unit id="org.eclipse.equinox.weaving.sdk.feature.group" version="1.1.0.v20140821-1918"/>
<unit id="org.eclipse.rcp.sdk.id" version="4.4.1.M20140925-0400"/>
<unit id="org.eclipse.ptp.pldt.feature.group" version="8.1.0.201409161348"/>
<unit id="org.eclipse.ptp.rdt.xlc.feature.group" version="8.1.0.201409161348"/>
<unit id="org.eclipse.ptp.remote.feature.group" version="8.1.0.201409161348"/>
<unit id="org.eclipse.emf.sdk.feature.group" version="2.10.1.v20140901-1055"/>
<unit id="org.eclipse.wst.xsl.feature.feature.group" version="1.3.401.v201409111855"/>
<unit id="org.eclipse.wst.web_ui.feature.feature.group" version="3.6.1.v201409112028"/>
<unit id="org.eclipse.ptp.remotetools.feature.group" version="8.1.0.201409161348"/>
<repository location="http://download.eclipse.org/releases/luna/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.tcf.te.terminals.feature.feature.group" version="1.2.0.201406042322"/>
<unit id="org.eclipse.equinox.sdk.feature.group" version="3.10.0.v20140909-1633"/>
<unit id="org.eclipse.remote.feature.group" version="1.1.0.201409111520"/>
<unit id="org.eclipse.ptp.feature.group" version="8.1.0.201409161348"/>
<repository location="http://download.eclipse.org/releases/luna/"/>
</location>
</locations>
</target>
