<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="clientInstance" name="ICE Client" schema="schema/clientInstance.exsd"/>
   <extension-point id="iwidgetfactory" name="Widget Factory" schema="schema/iwidgetfactory.exsd"/>
   <extension-point id="updateEventListener" name="IUpdateEventListener" schema="schema/updateEventListener.exsd"/>
   <extension-point id="processEventListener" name="IProcessEventListener" schema="schema/processEventListener.exsd"/>
   <extension-point id="simpleResourceProvider" name="ISimpleResourceProvider" schema="schema/simpleResourceProvider.exsd"/>

 <extension point="org.eclipse.ui.newWizards">
    <category 
          id="org.eclipse.ice.wizards"
          name="Computing Wizards">
    </category>
    <wizard
            name="Create Item Wizard"
            class="org.eclipse.ice.client.common.wizards.NewItemWizard"
            id="org.eclipse.ice.client.common.CreateItemWizard"
            category="org.eclipse.ice.wizards">
    </wizard>
    <primaryWizard
          id="org.eclipse.ice.client.common.CreateItemWizard">
    </primaryWizard> 
 </extension>
 <extension
       point="org.eclipse.ui.importWizards">
    <category
          id="org.eclipse.ice.wizards"
          name="ICE">
    </category>
    <wizard
          category="org.eclipse.ice.wizards"
          class="org.eclipse.ice.client.common.wizards.ImportFileWizard"
          icon="icons/importArrow.gif"
          id="org.eclipse.ice.client.widgets.wizards.ImportFile"
          name="Import existing files into the workspace">
    </wizard>
    <wizard
          category="org.eclipse.ice.wizards"
          class="org.eclipse.ice.client.common.wizards.ImportItemWizard"
          icon="icons/itemImport.gif"
          id="org.eclipse.ice.client.widgets.wizards.ImportItem"
          name="Import existing files into an Item">
    </wizard>
 </extension>
 <extension
       point="org.eclipse.ui.exportWizards">
    <category
          id="org.eclipse.ice.wizards"
          name="ICE">
    </category>
 </extension>
 <extension
       id="client"
       name="ICE Client"
       point="org.eclipse.ice.client.clientInstance">
    <client
          class="org.eclipse.ice.client.internal.ClientExtensionFactory">
    </client>
 </extension>
 <extension
       point="org.eclipse.ltk.core.refactoring.deleteParticipants">
    <deleteParticipant
          class="org.eclipse.ice.client.common.ICEItemDeleteParticipant"
          id="org.eclipse.ice.client.deleteitemfile"
          name="Delete Item Action">
       <enablement>
       		<with variable="element">
        	     <adapt type="org.eclipse.core.resources.IResource">
            	       <test property="org.eclipse.core.resources.extension"
                	         value="xml">
                   	</test>
             	 </adapt>
       		</with>
       </enablement>
    </deleteParticipant>
 </extension>
 <extension
       point="org.eclipse.ltk.core.refactoring.renameParticipants">
    <renameParticipant
          class="org.eclipse.ice.client.common.ICEItemRenameParticipant"
          id="org.eclipse.ice.client.renameitem"
          name="Rename Item Action">
        <enablement>
       		<with variable="element">
        	     <adapt type="org.eclipse.core.resources.IResource">
            	       <test property="org.eclipse.core.resources.extension"
                	         value="xml">
                   	</test>
             	 </adapt>
       		</with>
       </enablement>
    </renameParticipant>
 </extension>
 <extension
       id="org.eclipse.ice.client.updateEventListener"
       name="Client Update Event Listener"
       point="org.eclipse.ice.client.updateEventListener">
    <updateEventListener
          class="org.eclipse.ice.client.internal.ClientExtensionFactory">
    </updateEventListener>
 </extension>
 <extension
       id="org.eclipse.ice.client.simpleResourceProvider"
       name="Client Simple Resource Provider"
       point="org.eclipse.ice.client.simpleResourceProvider">
    <simpleResourceProvider
          class="org.eclipse.ice.client.internal.ClientExtensionFactory">
    </simpleResourceProvider>
 </extension>
 <extension
       id="org.eclipse.ice.client.processEventListener"
       name="Client Process Event Listener"
       point="org.eclipse.ice.client.processEventListener">
    <processEventListener
          class="org.eclipse.ice.client.internal.ClientExtensionFactory">
    </processEventListener>
 </extension>
</plugin>
