<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension-point id="org.eclipse.ice.developer.code" name="Scientific Code" schema="schema/iceDevCode.exsd"/>
	
	
   <!--extension
         id="org.eclipse.ice.developer.menu"
         name="Developer"
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            class="org.eclipse.ice.developer.menu.ICEExtensionContributionFactory"
            locationURI="menu:org.eclipse.ui.main.menu">
      </menuContribution>
   </extension-->
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=project">
         <menu
               id="org.eclipse.ice.developer.menu"
               label="Developer">
	         <menu
                id="org.eclipse.ice.developer.menu.ice"
                label="ICE">
             <command
                   commandId="org.eclipse.ice.developer.command.cloneAndFix"
                   label="Clone"
                   style="push">
                <parameter
                      name="repoURLID"
                      value="https://github.com/eclipse/ice">
                </parameter>
                <parameter
                      name="branchID"
                      value="next">
                </parameter>
             </command>
             <command
                   commandId="org.eclipse.ice.developer.command.build"
                   label="Build"
                   style="push">
             </command>
             <command
                   commandId="org.eclipse.ice.developer.command.launch"
                   label="Launch New Instance"
                   style="push">
             </command>
             <command
                   commandId="org.eclipse.ice.developer.command.importLocalRepo"
                   label="Import Local Repository"
                   style="push">
             </command>
	            <menu
                   id="org.eclipse.ice.developer.menu.ice.tests"
                   label="ICE Tests">
                <command
                      commandId="org.eclipse.ice.developer.command.clone"
                      label="Clone ICETests to user.home"
                      style="push">
                   <parameter
                         name="repoURLID"
                         value="https://github.com/jayjaybillings/ICETests">
                   </parameter>
                   <parameter
                         name="branchID"
                         value="master">
                   </parameter>
                   <parameter
                         name="cloneDirectoryID"
                         value="@user.home">
                   </parameter>
                </command>
	            </menu>
	         </menu>
	         
	         <menu
                id="org.eclipse.ice.developer.menu.apps"
                label="App Store">
                <command
                   commandId="org.eclipse.ice.developer.apps.createApp"
                   label="Create"
                   style="push">
                </command>
             </menu>
             
          <menu
                id="org.eclipse.ice.developer.menu.framework"
                label="Framework">
	         <menu
                id="org.eclipse.ice.developer.menu.framework.eavp"
                label="EAVP">
             <command
                   commandId="org.eclipse.ice.developer.command.cloneAndFix"
                   label="Clone"
                   style="push">
                <parameter
                      name="repoURLID"
                      value="https://github.com/eclipse/eavp">
                </parameter>
                <parameter
                      name="branchID"
                      value="next">
                </parameter>
             </command>
	         </menu>
          </menu>
          <menu
                id="org.eclipse.ice.developer.menu.nuclear"
                label="Nuclear">
          </menu>
          <menu
                id="org.eclipse.ice.developer.menu.molecularDynamics"
                label="Molecular Dynamics">
          </menu>
          <menu
                id="org.eclipse.ice.developer.menu.physics"
                label="Physics">
          </menu>
          <menu
                id="org.eclipse.ice.developer.menu.densityFunctionalTheory"
                label="Density Functional Theory">
          </menu>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.eclipse.ice.developer.command.clone"
            name="Clone">
         <commandParameter
               id="repoURLID"
               name="repoURL"
               optional="true">
         </commandParameter>
         <commandParameter
               id="branchID"
               name="branch"
               optional="true">
         </commandParameter>
         <commandParameter
               id="cloneDirectoryID"
               name="cloneDirectory"
               optional="true">
         </commandParameter>
      </command>
      
      <command id="org.eclipse.ice.developer.apps.createApp" name="CreateApp"></command>
      
      <command
            id="org.eclipse.ice.developer.command.cloneAndFix"
            name="CloneAndFix">
         <commandParameter
               id="repoURLID"
               name="repoURL"
               optional="true">
         </commandParameter>
         <commandParameter
               id="branchID"
               name="branch"
               optional="true">
         </commandParameter>
         <commandParameter
               id="cloneDirectoryID"
               name="cloneDirectory"
               optional="true">
         </commandParameter>
      </command>
      <command
            id="org.eclipse.ice.developer.command.build"
            name="Build">
      </command>
      <command
            id="org.eclipse.ice.developer.command.launch"
            name="Launch">
      </command>
      <command
            id="org.eclipse.ice.developer.command.importLocalRepo"
            name="Import Local">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.ice.developer.actions.GitCloneHandler"
            commandId="org.eclipse.ice.developer.command.clone">
      </handler>
      <handler
            class="org.eclipse.ice.developer.actions.BuildICEHandler"
            commandId="org.eclipse.ice.developer.command.build">
      </handler>
      <handler
            class="org.eclipse.ice.developer.actions.LaunchNewICEHandler"
            commandId="org.eclipse.ice.developer.command.launch">
      </handler>
      <handler
            class="org.eclipse.ice.developer.actions.ImportLocalICEHandler"
            commandId="org.eclipse.ice.developer.command.importLocalRepo">
      </handler>
      <handler
            class="org.eclipse.ice.developer.actions.FixMavenLifecycleCloneHandler"
            commandId="org.eclipse.ice.developer.command.cloneAndFix">
      </handler>
      <handler
            class="org.eclipse.ice.developer.actions.ICEAppStoreHandler"
            commandId="org.eclipse.ice.developer.apps.createApp">
      </handler>
   </extension>
   
</plugin>
