<?xml version="1.0" encoding="UTF-8"?><launchConfiguration type="org.eclipse.pde.ui.JunitLaunchConfig">
<booleanAttribute key="append.args" value="true"/>
<stringAttribute key="application" value="org.eclipse.pde.junit.runtime.coretestapplication"/>
<booleanAttribute key="askclear" value="false"/>
<booleanAttribute key="automaticAdd" value="true"/>
<booleanAttribute key="automaticValidate" value="false"/>
<stringAttribute key="bootstrap" value=""/>
<stringAttribute key="checked" value="[NONE]"/>
<booleanAttribute key="clearConfig" value="true"/>
<booleanAttribute key="clearws" value="true"/>
<booleanAttribute key="clearwslog" value="false"/>
<booleanAttribute key="com.ibm.debug.breakpoints.java.appendFile" value="false"/>
<stringAttribute key="com.ibm.debug.breakpoints.java.traceFilename" value="${workspace_loc}/${launch_config_name}_${launch_timestamp}.log"/>
<booleanAttribute key="com.ibm.debug.breakpoints.java.traceToConsole" value="true"/>
<booleanAttribute key="com.ibm.debug.breakpoints.java.traceToFile" value="false"/>
<stringAttribute key="configLocation" value="${workspace_loc}/.metadata/.plugins/org.eclipse.pde.core/pde-junit"/>
<booleanAttribute key="default" value="false"/>
<stringAttribute key="deselected_workspace_plugins" value="org.eclipse.ice.analysistool,org.eclipse.ice.client,org.eclipse.ice.client.rcp,org.eclipse.ice.client.widgets,org.eclipse.ice.client.widgets.test,org.eclipse.ice.client.test,org.eclipse.ice.denovompplugins,org.eclipse.ice.denovompplugins.test,org.eclipse.ice.filesimulation,org.eclipse.ice.io,org.eclipse.ice.io.test,org.eclipse.ice.nek5000,org.eclipse.ice.core,org.eclipse.ice.core.test,org.eclipse.ice.item,org.eclipse.ice.item.test,org.eclipse.ice.reactorAnalyzer,org.eclipse.ice.reactorAnalyzer.test,org.eclipse.ice.tablecomponenttester,org.eclipse.ice.visitanalysistool,org.eclipse.ice.visitanalysistool.test,org.eclipse.ice.visitjava"/>
<booleanAttribute key="includeOptional" value="true"/>
<stringAttribute key="location" value="${workspace_loc}/../junit-workspace"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/org.eclipse.ice.datastructures.test"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.junit.CONTAINER" value="=org.eclipse.ice.datastructures.test"/>
<booleanAttribute key="org.eclipse.jdt.junit.KEEPRUNNING_ATTR" value="false"/>
<stringAttribute key="org.eclipse.jdt.junit.TESTNAME" value=""/>
<stringAttribute key="org.eclipse.jdt.junit.TEST_KIND" value="org.eclipse.jdt.junit.loader.junit4"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value=""/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-os ${target.os} -ws ${target.ws} -arch ${target.arch} -nl ${target.nl} -consoleLog -console"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="org.eclipse.ice.datastructures.test"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.pde.ui.workbenchClasspathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-DREFRESH_BUNDLES=FALSE"/>
<stringAttribute key="pde.version" value="3.3"/>
<stringAttribute key="product" value="org.eclipse.ice.iceclient.product"/>
<booleanAttribute key="run_in_ui_thread" value="true"/>
<stringAttribute key="selected_target_plugins" value="javax.persistence@1:true,org.apache.derby@2:true,org.eclipse.core.contenttype@default:default,org.eclipse.core.jobs@default:default,org.eclipse.core.runtime@4:true,org.eclipse.equinox.app@default:default,org.eclipse.equinox.common@2:true,org.eclipse.equinox.ds@2:true,org.eclipse.equinox.preferences@default:default,org.eclipse.equinox.registry@default:default,org.eclipse.equinox.simpleconfigurator@1:true,org.eclipse.equinox.util@default:default,org.eclipse.gemini.dbaccess.derby@2:true,org.eclipse.gemini.dbaccess.util@default:default,org.eclipse.gemini.jpa@3:true,org.eclipse.osgi@-1:true,org.eclipse.persistence.antlr@3:true,org.eclipse.persistence.asm@3:true,org.eclipse.persistence.core@3:true,org.eclipse.persistence.jpa.jpql@default:default,org.eclipse.persistence.jpa@2:true,org.eclipse.update.configurator@3:true,org.hamcrest.core@default:default,org.junit4@default:default,osgi.enterprise@2:true"/>
<stringAttribute key="selected_workspace_plugins" value="org.eclipse.ice.caebat.test@default:false,org.eclipse.ice.caebat@default:default,org.eclipse.ice.client.compatibility@default:default,org.eclipse.ice.client.widgets.rcp@default:default,org.eclipse.ice.client.widgets.reactoreditor.test@default:false,org.eclipse.ice.client.widgets.reactoreditor@default:default,org.eclipse.ice.database.test@3:true,org.eclipse.ice.kdd.test@default:false,org.eclipse.ice.kdd@default:default,org.eclipse.ice.datastructures.test@default:default,org.eclipse.ice.datastructures@4:true,org.eclipse.ice.persistence.xml.test@default:false,org.eclipse.ice.persistence.xml@default:default,org.eclipse.ice.reactor.test@default:false,org.eclipse.ice.reactor@default:default,org.eclipse.ice.swtvisit@default:default,org.eclipse.ice.visit.viewer.test@default:false,org.eclipse.ice.visit.viewer@default:default"/>
<booleanAttribute key="show_selected_only" value="true"/>
<booleanAttribute key="tracing" value="false"/>
<booleanAttribute key="useCustomFeatures" value="false"/>
<booleanAttribute key="useDefaultConfig" value="true"/>
<booleanAttribute key="useDefaultConfigArea" value="false"/>
<booleanAttribute key="useProduct" value="false"/>
</launchConfiguration>