<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="IMaterialsDatabase" name="Material Database" schema="schema/IMaterialsDatabase.exsd"/>
   <extension-point id="itemBuilder" name="Item Builder" schema="schema/itemBuilder.exsd"/>
   <extension
         id="geometryEditorBuilder"
         name="Geometry Editor"
         point="org.eclipse.ice.item.itemBuilder">
      <implementation
            class="org.eclipse.ice.item.geometry.GeometryEditorBuilder">
      </implementation>
   </extension>
   <extension
         id="jobProfileBuilder"
         name="Job Profile"
         point="org.eclipse.ice.item.itemBuilder">
      <implementation
            class="org.eclipse.ice.item.jobprofile.JobProfileBuilder">
      </implementation>
   </extension>
   <extension
         id="mooseLauncherComponent"
         name="Moose Launcher"
         point="org.eclipse.ice.item.itemBuilder">
      <implementation
            class="org.eclipse.ice.item.nuclear.MOOSELauncherBuilder">
      </implementation>
   </extension>
   <extension
         id="sharpLauncherBuilder"
         name="Sharp Launcher"
         point="org.eclipse.ice.item.itemBuilder">
      <implementation
            class="org.eclipse.ice.item.nuclear.SHARPLauncherBuilder">
      </implementation>
   </extension>
   <extension
         id="sharpModelBuilder"
         name="Sharp Model Builder"
         point="org.eclipse.ice.item.itemBuilder">
      <implementation
            class="org.eclipse.ice.item.nuclear.SHARPModelBuilder">
      </implementation>
   </extension>
   <extension
         id="mooseModelBuilder"
         name="Moose Model"
         point="org.eclipse.ice.item.itemBuilder">
      <implementation
            class="org.eclipse.ice.item.nuclear.MOOSEModelBuilder">
      </implementation>
   </extension>
   <extension
         id="mooseBuilder"
         name="MOOSE Workflow"
         point="org.eclipse.ice.item.itemBuilder">
      <implementation
            class="org.eclipse.ice.item.nuclear.MOOSEBuilder">
      </implementation>
   </extension>
   <extension
         id="mooseFileHandler"
         point="org.eclipse.ice.io.writer">
      <implementation
            class="org.eclipse.ice.item.utilities.moose.MOOSEFileHandler">
      </implementation>
   </extension>
   <extension
         id="mooseFileHandler"
         point="org.eclipse.ice.io.reader">
      <implementation
            class="org.eclipse.ice.item.utilities.moose.MOOSEFileHandler">
      </implementation>
   </extension>
</plugin>
