<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="itemBuilder" name="Item Builder" schema="schema/itemBuilder.exsd"/>
   <extension-point id="compositeItemBuilder" name="Composite Item Builder" schema="schema/compositeItemBuilder.exsd"/>
   <extension-point id="actionFactory" name="ICE Action Factory" schema="schema/actionFactory.exsd"/>
   <extension-point id="actions" name="ICE Actions" schema="schema/actions.exsd"/>
   
   <extension
         id="geometryEditorBuilder"
         name="Geometry Editor"
         point="org.eclipse.ice.item.itemBuilder">
      <implementation
            class="org.eclipse.ice.item.geometry.GeometryEditorBuilder">
      </implementation>
   </extension>
   <extension
         id="jobProfileBuilder"
         name="Job Profile"
         point="org.eclipse.ice.item.itemBuilder">
      <implementation
            class="org.eclipse.ice.item.jobprofile.JobProfileBuilder">
      </implementation>
   </extension>
   <extension
         id="mooseLauncherComponent"
         name="Moose Launcher"
         point="org.eclipse.ice.item.itemBuilder">
      <implementation
            class="org.eclipse.ice.item.nuclear.MOOSELauncherBuilder">
      </implementation>
   </extension>
   <extension
         id="sharpLauncherBuilder"
         name="Sharp Launcher"
         point="org.eclipse.ice.item.itemBuilder">
      <implementation
            class="org.eclipse.ice.item.nuclear.SHARPLauncherBuilder">
      </implementation>
   </extension>
   <extension
         id="sharpModelBuilder"
         name="Sharp Model Builder"
         point="org.eclipse.ice.item.itemBuilder">
      <implementation
            class="org.eclipse.ice.item.nuclear.SHARPModelBuilder">
      </implementation>
   </extension>
   <extension
         id="mooseModelBuilder"
         name="Moose Model"
         point="org.eclipse.ice.item.itemBuilder">
      <implementation
            class="org.eclipse.ice.item.nuclear.MOOSEModelBuilder">
      </implementation>
   </extension>
   <extension
         id="mooseBuilder"
         name="MOOSE Workflow"
         point="org.eclipse.ice.item.itemBuilder">
      <implementation
            class="org.eclipse.ice.item.nuclear.MOOSEBuilder">
      </implementation>
   </extension>
   <extension
         id="mooseFileHandler"
         point="org.eclipse.ice.io.writer">
      <implementation
            class="org.eclipse.ice.item.utilities.moose.MOOSEFileHandler">
      </implementation>
   </extension>
   <extension
         id="mooseFileHandler"
         point="org.eclipse.ice.io.reader">
      <implementation
            class="org.eclipse.ice.item.utilities.moose.MOOSEFileHandler">
      </implementation>
   </extension>
   <extension
         id="org.eclipse.ice.item.ICEActionFactory"
         name="ICE Action Factory"
         point="org.eclipse.ice.item.actionFactory">
      <actionFactory
            class="org.eclipse.ice.item.ICEActionFactory">
      </actionFactory>
   </extension>
   <extension
         id="org.eclipse.ice.item.action.joblaunchaction"
         name="Job Launch Action"
         point="org.eclipse.ice.item.actions">
      <action
            class="org.eclipse.ice.item.action.JobLaunchAction">
      </action>
   </extension>
   <extension
         id="org.eclipse.ice.item.remoteyamlaction"
         name="Remote YAML-Syntax Generation"
         point="org.eclipse.ice.item.actions">
      <action
            class="org.eclipse.ice.item.nuclear.RemoteYamlSyntaxGenerator">
      </action>
   </extension>
   <extension
         id="org.eclipse.ice.item.remotefiledownload"
         name="Remote File Download"
         point="org.eclipse.ice.item.actions">
      <action
            class="org.eclipse.ice.item.action.RemoteFileDownloadAction">
      </action>
   </extension>
   <extension
         id="org.eclipse.ice.remotefileupload"
         name="Remote File Upload"
         point="org.eclipse.ice.item.actions">
      <action
            class="org.eclipse.ice.item.action.RemoteFileUploadAction">
      </action>
   </extension>
   <extension
         id="org.eclipse.ice.item.moose.checkmooseinput"
         name="Check Moose Input"
         point="org.eclipse.ice.item.actions">
      <action
            class="org.eclipse.ice.item.nuclear.CheckMooseInputAction">
      </action>
   </extension>
   <extension
         id="org.eclipse.ice.item.taggedoutputwriter"
         name="Tagged Output Writer"
         point="org.eclipse.ice.item.actions">
      <action
            class="org.eclipse.ice.item.action.TaggedOutputWriterAction">
      </action>
   </extension>
   <extension
         id="org.eclipse.ice.item.localexecution"
         name="Local Execution"
         point="org.eclipse.ice.item.actions">
      <action
            class="org.eclipse.ice.item.action.LocalExecutionAction">
      </action>
   </extension>
   <extension
         id="org.eclipse.ice.item.localfilescopy"
         name="Local Files Copy"
         point="org.eclipse.ice.item.actions">
      <action
            class="org.eclipse.ice.item.action.LocalFilesCopyAction">
      </action>
   </extension>
   <extension
         id="org.eclipse.ice.item.remoteexecution"
         name="Remote Execution"
         point="org.eclipse.ice.item.actions">
      <action
            class="org.eclipse.ice.item.action.RemoteExecutionAction">
      </action>
   </extension>
   <extension
         id="org.eclipse.ice.item.action.CreateDockerContainerAction"
         name="Create Docker Container"
         point="org.eclipse.ice.item.actions">
      <action
            class="org.eclipse.ice.item.action.CreateDockerContainerAction">
      </action>
   </extension>
</plugin>
