<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<plugin>
      <extension
            point="org.eclipse.ui.perspectives">
         <perspective
               class="org.eclipse.ice.client.widgets.moose.MOOSEPerspective"
               id="org.eclipse.ice.widgets.moose.MOOSEPerspective"
               name="MOOSE">
         </perspective>
      </extension>
      <extension
            point="org.eclipse.ui.perspectiveExtensions">
         <perspectiveExtension
               targetID="org.eclipse.ice.widgets.moose.MOOSEPerspective">
            <view
                  closeable="false"
                  id="org.eclipse.ice.client.common.ItemViewer"
                  ratio="0.25f"
                  relationship="left"
                  relative="org.eclipse.ui.editorss"
                  visible="true">
            </view>
            <view
                  closeable="false"
                  id="org.eclipse.ice.client.widgets.moose.MOOSETreeCompositeView"
                  relationship="stack"
                  relative="org.eclipse.ice.client.common.ItemViewer"
                  visible="true">
            </view>
            <view
                  closeable="false"
                  id="org.eclipse.ui.navigator.ProjectExplorer"
                  minimized="false"
                  relationship="stack"
                  relative="org.eclipse.ice.client.common.ItemViewer"
                  visible="true">
            </view>
            <view
                  closeable="false"
                  id="org.eclipse.ice.client.widgets.ICEResourceView"
                  minimized="false"
                  relationship="stack"
                  relative="org.eclipse.ice.client.common.ItemViewer"
                  visible="true">
            </view>
            <view
                  closeable="false"
                  id="org.eclipse.ui.console.ConsoleView"
                  ratio="0.75f"
                  relationship="bottom"
                  relative="org.eclipse.ui.editorss"
                  visible="true">
            </view>
            <view
                  closeable="false"
                  id="org.eclipse.ui.views.PropertySheet"
                  relationship="stack"
                  relative="org.eclipse.ui.console.ConsoleView"
                  visible="true">
            </view>
         </perspectiveExtension>
      </extension>


      <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.ice.client.widgets.moose.MOOSEFormEditor"
            default="false"
            id="org.eclipse.ice.client.widgets.moose.MOOSEFormEditor"
            name="MOOSEEditor">
      </editor>
   </extension>
      <extension
            point="org.eclipse.ui.views">
         <view
               allowMultiple="false"
               class="org.eclipse.ice.client.widgets.moose.MOOSETreeCompositeView"
               fastViewWidthRatio="0.125"
               id="org.eclipse.ice.client.widgets.moose.MOOSETreeCompositeView"
               name="MOOSE Data Tree View"
               restorable="true">
         </view>
      </extension>
	<!-- MOOSETreeCompositeViewer Properties Extensions -->
    <extension point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor contributorId="org.eclipse.ice.client.widgets.moose.MOOSETreeCompositeView">
      	<propertyCategory category="TreeViewer"/>
      </propertyContributor>      
   </extension>
    <extension
          point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
       <propertyTabs
             contributorId="org.eclipse.ice.client.widgets.moose.MOOSETreeCompositeView">
          <propertyTab
                category="TreeViewer"
                id="TreeViewer.Data"
                label="Data">
          </propertyTab>
       </propertyTabs>
    </extension>
      <extension
            point="org.eclipse.ui.views.properties.tabbed.propertySections">
         <propertySections
               contributorId="org.eclipse.ice.client.widgets.moose.MOOSETreeCompositeView">
            <propertySection
                  class="org.eclipse.ice.client.widgets.moose.MOOSETreePropertySection"
                  id="TypeSection"
                  tab="TreeViewer.Data">
               <input
                     type="org.eclipse.ice.datastructures.form.TreeComposite">
               </input>
            </propertySection>
         </propertySections>
      </extension>
      <extension
            point="org.eclipse.ui.preferencePages">
         <page
               class="org.eclipse.ice.client.widgets.moose.MoosePreferencePage"
               id="org.eclipse.ice.client.widgets.moose.page1"
               name="MOOSE">
         </page>
      </extension>
      
      
      <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.eclipse.ice.client.widgets.moose.actions.NewKernelHandler"
            id="org.eclipse.ice.client.widgets.moose.newkernel"
            name="Kernel">
      </command>
   </extension>
   
   <extension
         id="org.eclipse.ice.client.widgets.moose.nature.moosenature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.eclipse.ice.client.widgets.moose.nature.MooseNature">
         </run>
      </runtime>
 </extension>
   
   <extension
         point="org.eclipse.ui.menus">
      <!--<menuContribution
            locationURI="popup:common.new.menu?after=new">
         <command
               commandId="org.eclipse.ice.client.widgets.moose.newkernel"
               label="New MOOSE Kernel"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="org.eclipse.cdt.ui.CPerspective">
                  </equals>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>-->
      <menuContribution
            locationURI="popup:common.new.menu?after=new">
         <menu
               id="org.eclipse.ui.navigator.ProjectExplorer.newmooseobject"
               label="MOOSE Object">
            <command
                  commandId="org.eclipse.ice.client.widgets.moose.newkernel"
                  label="Kernel"
                  style="push">
            </command>
            <visibleWhen>
            	<with variable="selection">
            		<iterate operator="and" ifEmpty="false">
            			<test 
                  			property="org.eclipse.core.resources.projectNature" 
                  			value="org.eclipse.ice.client.widgets.moose.nature.moosenature" />
                  	</iterate>
     			</with>
    		</visibleWhen>
         </menu>
      </menuContribution>
   </extension>
   
  <!-- <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.eclipse.ice.client.widgets.moose.actions.MOOSEActionHandler"
            id="org.eclipse.ice.client.widgets.moose.commands.MOOSEAction"
            name="Default MOOSE DropDown Action">
      </command>
      <command
            defaultHandler="org.eclipse.ice.client.widgets.moose.actions.GenerateYAMLHandler"
            description="Generates YAML and Action Syntax files"
            id="org.eclipse.ice.client.widgets.moose.commands.GenerateYAML"
            name="Generate MOOSE YAML and Action Syntax">
      </command>
      <command
            defaultHandler="org.eclipse.ice.client.widgets.moose.actions.ForkStorkHandler"
            description="Forks the Stork"
            id="org.eclipse.ice.client.widgets.moose.commands.ForkStork"
            name="MOOSE Fork the Stork">
      </command>
      <command
            defaultHandler="org.eclipse.ice.client.widgets.moose.actions.CloneMOOSEHandler"
            description="Clones MOOSE"
            id="org.eclipse.ice.client.widgets.moose.commands.CloneMOOSE"
            name="Clone MOOSE">
      </command>
      <command
            defaultHandler="org.eclipse.ice.client.widgets.moose.actions.ForkMOOSEHandler"
            description="Forks MOOSE"
            id="org.eclipse.ice.client.widgets.moose.commands.ForkMOOSE"
            name="Fork MOOSE">
      </command>
   </extension>
      
      
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="org.eclipse.ice.client.widgets.toolbar">
            <command
                  commandId="org.eclipse.ice.client.widgets.moose.commands.MOOSEAction"
                  id="org.eclipse.ice.client.widgets.moose.commands.MOOSEAction.toolItem"
                  label="MOOSE Actions"
                  style="pulldown"
                  tooltip="Click the arrow to the right to view available MOOSE Actions.">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="org.eclipse.ice.widgets.moose.MOOSEPerspective">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ice.client.widgets.moose.commands.MOOSEAction.toolItem">
         <command
               commandId="org.eclipse.ice.client.widgets.moose.commands.GenerateYAML"
               icon="icons/file_obj.gif"
               id="org.eclipse.ice.client.widgets.moose.commands.GenerateYAML.menuItem"
               label="Generate YAML and Action Syntax"
               style="push"
               tooltip="Generates MOOSE YAML and Action Syntax files">
         </command>
         <command
               commandId="org.eclipse.ice.client.widgets.moose.commands.ForkStork"
               id="org.eclipse.ice.client.widgets.moose.commands.ForkStork.menuItem"
               label="MOOSE Fork the Stork"
               style="push"
               tooltip="Forks the Stork">
         </command>
         <command
               commandId="org.eclipse.ice.client.widgets.moose.commands.CloneMOOSE"
               id="org.eclipse.ice.client.widgets.moose.commands.CloneMOOSE.menuItem"
               label="Clone MOOSE"
               style="push"
               tooltip="Clones MOOSE">
         </command>
         <command
               commandId="org.eclipse.ice.client.widgets.moose.commands.ForkMOOSE"
               id="org.eclipse.ice.client.widgets.moose.commands.ForkMOOSE.menuItem"
               label="Fork MOOSE"
               style="push"
               tooltip="Forks MOOSE">
         </command>
         <separator
               name="additions"
               visible="false">
         </separator>
      </menuContribution>
   </extension>-->
      
</plugin>
