<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated scenvironment -->
      <package
            uri="http://org/eclipse/ice/developer/scenvironment"
            class="org.eclipse.ice.developer.scenvironment.model.scenvironment.ScenvironmentPackage"
            genModel="model/scenvironment.genmodel"/>
   </extension>

</plugin>
