<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="IMaterialsDatabase"
         name="Materkals Database"
         point="org.eclipse.ice.item.IMaterialsDatabase">
      <Implementation
            Class="org.eclipse.ice.materials.XMLMaterialsDatabase">
      </Implementation>
   </extension>

</plugin>
