<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<plugin>


      <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.ice.client.widgets.reactoreditor.ReactorFormEditor"
            default="false"
            id="org.eclipse.ice.client.widgets.reactor.editor"
            name="ReactorEditor">
      </editor>
   </extension>

</plugin>
