<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            description="LRAC Reflectivity Simulator"
            name="LRAC Reflectivity Simulator">
         <property
            name="appName"
            value="LRAC Reflectivity Simulator">
         </property>
		<property
    		name="applicationXMI"
		    value="org.eclipse.platform/LegacyIDE.e4xmi">
		</property>
		<property
    		name="cssTheme"
    		value="org.eclipse.e4.ui.css.theme.e4_default">
		</property>
        <property
            name="startupForegroundColor"
            value="4A95FF">
        </property>
        <property
            name="startupMessageRect"
            value="7,485,665,20">
        </property>
		<property
		    name="startupProgressRect"
		    value="5,470,665,15">
		</property>
        <property
            name="applicationCSSResources" 
            value="platform:/plugin/org.eclipse.platform/images/"> 
        </property>
        <property
              name="windowImages"
              value="/icons/ice_logo_16x16.png,/icons/ice_logo_32x32.png,/icons/ice_logo_64x64.png,/icons/ice_logo_128x128.png,/icons/ice_logo_256x256.png">
        </property>
        <property
              name="preferenceCustomization"
              value="plugin_customization.ini">
        </property>
        <property
              name="aboutText"
              value="%aboutText">
        </property>
      </product>
   </extension>
   
   
   
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Reflectivity"
            class="org.eclipse.ice.reflectivity.ui.ReflectivityPerspective"
            id="org.eclipse.ice.reflectivity.ReflectivityPerspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            default="false"
            name="ReflectivityEditor"
            class="org.eclipse.ice.reflectivity.ui.ReflectivityFormEditor"
            id="org.eclipse.ice.reflectivity.ui.ReflectivityFormEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            tabDescriptorProvider="org.eclipse.ice.reflectivity.ui.ReflectivityTabDescriptorProvider"
            contributorId="org.eclipse.ice.reflectivity.ui.ReflectivityFormEditor">
         <propertyCategory
               category="Reflectivity">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ice.reflectivity.ReflectivityPerspective">
         <view
               ratio="0.25f"
               relative="org.eclipse.ui.editorss"
               closeable="false"
               visible="true"
               id="org.eclipse.ice.client.common.ItemViewer"
               relationship="left">
         </view>
         <view
               minimized="false"
               relative="org.eclipse.ice.client.common.ItemViewer"
               closeable="false"
               visible="true"
               id="org.eclipse.ice.client.widgets.ICEResourceView"
               relationship="stack">
         </view>
         <view
               relative="org.eclipse.ui.editorss"
               closeable="false"
               visible="true"
               id="org.eclipse.ui.views.PropertySheet"
               relationship="bottom">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ice.client.widgets.iformwidgetbuilder">
      <implementation
            class="org.eclipse.ice.reflectivity.ui.ReflectivityFormWidgetBuilder">
      </implementation>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            file-extensions="xml"
            base-type="org.eclipse.ice.persistence.xml.contentType.Form"
            name="Reflectivity Form"
            priority="high"
            describer="org.eclipse.ice.reflectivity.ui.ReflectivityXMLFormContentDescriber"
            id="org.eclipse.ice.reflectivity.ui.xml.contentType.Form">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            default="false"
            name="Reflectivity Editor"
            extensions="xml"
            class="org.eclipse.ice.reflectivity.ui.ReflectivityFormEditor"
            id="org.eclipse.ice.reflectivity.ui.ReflectivityFormEditor">
         <contentTypeBinding
               contentTypeId="org.eclipse.ice.reflectivity.ui.xml.contentType.Form">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
   </extension>
   <extension
         id="org.eclipse.ice.reflectivity.ui.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="reflectivityModelFragment.e4xmi">
      </fragment>
   </extension>

</plugin>
