<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="neon" sequenceNumber="228">
<locations>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.eavp.feature.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/eavp/builds/next"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.ease.ui.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ease.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ease.javascript.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ease.lang.jvm.feature.source.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ease.modules.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ease.modules.charting.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ease.modules.team.svn.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ease.modules.unittest.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ease.python.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ease.python.jython.feature.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/ease/update/nightly"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.ease.engine.jython.feature.feature.group" version="2.7.0.I201604140914"/>
<repository location="http://bintray.com/artifact/download/pontesegger/ease-engines/"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.nebula.visualization.feature.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/nebula/releases/1.0.0/"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.apache.log4j" version="0.0.0"/>
<unit id="org.hamcrest.core" version="0.0.0"/>
<unit id="org.hamcrest.library" version="0.0.0"/>
<unit id="org.eclipse.swtbot.eclipse.feature.group" version="0.0.0"/>
<unit id="org.eclipse.swtbot.eclipse.test.junit.feature.group" version="0.0.0"/>
<unit id="org.eclipse.swtbot.feature.group" version="0.0.0"/>
<unit id="org.eclipse.swtbot.generator.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.swtbot.eclipse.gef.feature.group" version="0.0.0"/>
<unit id="org.eclipse.swtbot.ide.feature.group" version="0.0.0"/>
<unit id="org.eclipse.swtbot.forms.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/technology/swtbot/releases/latest"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="bcprov" version="0.0.0"/>
<unit id="com.spotify.docker-client.shaded" version="0.0.0"/>
<unit id="bcpkix" version="0.0.0"/>
<repository location="http://eclipseice.ornl.gov/downloads/spotify_docker_client/SNAPSHOT-3.1.1-SHADED/p2"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="javax.ws.rs" version="1.1.1.v20130318-1750"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20140525021250/repository"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.aether.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.aether.connector.basic.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.aether.maven.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.aether.transport.file.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.aether.transport.http.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.cdt.autotools.feature.group" version="0.0.0"/>
<unit id="org.eclipse.cdt.bupc.feature.group" version="0.0.0"/>
<unit id="org.eclipse.cdt.core.parser.upc.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.cdt.feature.group" version="0.0.0"/>
<unit id="org.eclipse.cdt.gnu.multicorevisualizer.feature.group" version="0.0.0"/>
<unit id="org.eclipse.cdt.launch.remote.feature.group" version="0.0.0"/>
<unit id="org.eclipse.cdt.managedbuilder.llvm.feature.group" version="0.0.0"/>
<unit id="org.eclipse.cdt.msw.feature.group" version="0.0.0"/>
<unit id="org.eclipse.cdt.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.cdt.testsrunner.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.cdt.xlc.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.dltk.core.feature.group" version="0.0.0"/>
<unit id="org.eclipse.dltk.itcl.feature.group" version="0.0.0"/>
<unit id="org.eclipse.dltk.ruby.feature.group" version="0.0.0"/>
<unit id="org.eclipse.dltk.tcl.feature.group" version="0.0.0"/>
<unit id="org.eclipse.dltk.xotcl.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ecf.console.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ecf.core.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ecf.core.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ecf.core.source.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ecf.core.source.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ecf.core.ssl.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ecf.core.ssl.source.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ecf.filetransfer.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ecf.filetransfer.httpclient4.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ecf.filetransfer.httpclient4.source.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ecf.filetransfer.httpclient4.ssl.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ecf.filetransfer.httpclient4.ssl.source.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ecf.filetransfer.source.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ecf.filetransfer.ssl.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ecf.filetransfer.ssl.source.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ecf.remoteservice.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ecf.remoteservice.sdk.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.egf.core.feature.group" version="0.0.0"/>
<unit id="org.eclipse.egf.feature.group" version="0.0.0"/>
<unit id="org.eclipse.egf.portfolio.emf.feature.group" version="0.0.0"/>
<unit id="org.eclipse.egf.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.egit.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.common.source.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.compare.diagram.papyrus.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.compare.uml2.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.diffmerge.sdk.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.ecoretools.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.ecore.source.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.ecore.xcore.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.ecp.e4.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.ecp.emfforms.sdk.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.ecp.sdk.e4.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.ecp.sdk.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.eef.sdk-feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.facet.sdk.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.mwe.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.mwe2.language.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.mwe2.runtime.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.oda.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.query.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.transaction.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.validation.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.validation.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.workspace.feature.group" version="0.0.0"/>
<unit id="org.eclipse.epp.mpc.feature.group" version="0.0.0"/>
<unit id="org.eclipse.epp.package.modeling.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.equinox.p2.discovery.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.equinox.p2.extras.feature.source.feature.group" version="0.0.0"/>
<unit id="org.eclipse.equinox.p2.user.ui.source.feature.group" version="0.0.0"/>
<unit id="org.eclipse.equinox.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.fx.ide.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.gef.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.gmf.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.gmf.tooling.codegen.xtend2.feature.group" version="0.0.0"/>
<unit id="org.eclipse.gmf.tooling.feature.group" version="0.0.0"/>
<unit id="org.eclipse.gmf.tooling.runtime.feature.group" version="0.0.0"/>
<unit id="org.eclipse.graphiti.export.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.graphiti.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.graphiti.feature.tools.feature.group" version="0.0.0"/>
<unit id="org.eclipse.graphiti.sdk.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.graphiti.sdk.plus.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.jdt.feature.group" version="0.0.0"/>
<unit id="org.eclipse.jgit.feature.group" version="0.0.0"/>
<unit id="org.eclipse.launchbar.feature.group" version="0.0.0"/>
<unit id="org.eclipse.linuxtools.cdt.libhover.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.linuxtools.javadocs.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.m2e.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.mylyn.commons.feature.group" version="0.0.0"/>
<unit id="org.eclipse.mylyn.commons.identity.feature.group" version="0.0.0"/>
<unit id="org.eclipse.mylyn.commons.notifications.feature.group" version="0.0.0"/>
<unit id="org.eclipse.mylyn.commons.repositories.feature.group" version="0.0.0"/>
<unit id="org.eclipse.mylyn.commons.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.mylyn.context_feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.mylyn.discovery.feature.group" version="0.0.0"/>
<unit id="org.eclipse.mylyn.github.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.mylyn.monitor.feature.group" version="0.0.0"/>
<unit id="org.eclipse.mylyn_feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.pde.feature.group" version="0.0.0"/>
<unit id="org.eclipse.photran.feature.group" version="0.0.0"/>
<unit id="org.eclipse.photran.intel.feature.group" version="0.0.0"/>
<unit id="org.eclipse.photran.xlf.feature.group" version="0.0.0"/>
<unit id="org.eclipse.php.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ptp.debug.sdm.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ptp.etfw.feedback.perfsuite.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ptp.etfw.tau.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ptp.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ptp.fortran.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ptp.pldt.upc.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ptp.rm.jaxb.contrib.feature.group" version="0.0.0"/>
<unit id="org.eclipse.recommenders.rcp.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.tcf.cdt.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.tcf.te.tcf.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.tm.terminal.connector.local.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.tm.terminal.connector.remote.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.tm.terminal.connector.serial.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.tm.terminal.connector.ssh.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.tm.terminal.connector.telnet.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.tm.terminal.control.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.tm.terminal.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.tm.terminal.view.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.tm.terminal.view.rse.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.userstorage" version="0.0.0"/>
<unit id="org.eclipse.userstorage.ui" version="0.0.0"/>
<unit id="org.eclipse.wst.common_core.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.wst.common_ui.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.wst.common.fproj.feature.group" version="0.0.0"/>
<unit id="org.eclipse.wst.jsdt.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.wst.server_adapters.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.wst.server_ui.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.wst.server_core.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.wst.web_ui.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.wst.ws_core.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.wst.xml_ui.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.wst.xsl.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.xpand.feature.group" version="0.0.0"/>
<unit id="org.eclipse.xsd.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.xsd.mapping.feature.group" version="0.0.0"/>
<unit id="org.eclipse.xsd.mapping.editor.feature.group" version="0.0.0"/>
<unit id="org.eclipse.xtend.feature.group" version="0.0.0"/>
<unit id="org.eclipse.xtend.ui.feature.group" version="0.0.0"/>
<unit id="org.eclipse.xtend.typesystem.xsd.feature.group" version="0.0.0"/>
<unit id="org.eclipse.xtend.typesystem.emf.feature.group" version="0.0.0"/>
<unit id="org.eclipse.xtend.typesystem.uml2.feature.group" version="0.0.0"/>
<unit id="org.eclipse.xtend.dependencies.feature.group" version="0.0.0"/>
<unit id="org.eclipse.xtend.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.xtext.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.zest.sdk.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/releases/neon/"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.nebula.widgets.nattable.extension.poi.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.nebula.widgets.nattable.extension.glazedlists.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.nebula.widgets.nattable.extension.glazedlists.source.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.nebula.widgets.nattable.core.source.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.nebula.widgets.nattable.extension.poi.source.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.nebula.widgets.nattable.core.feature.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/nattable/releases/1.3.0/repository"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="gov.lbnl.visit.swt" version="0.0.0"/>
<repository location="http://eclipseice.ornl.gov/downloads/visit_java_client/1.0.0-SNAPSHOT/p2/"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.swt.dummyfragments.feature.group" version="1.0.0.v20160603-0902"/>
<repository location="https://eclipseguru.github.io/missing-swt-fragments/"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.cdt.remote.feature.group" version="9.0.0.201606062011"/>
<unit id="org.eclipse.cdt.visualizer.feature.group" version="9.0.0.201606062011"/>
<repository location="http://download.eclipse.org/tools/cdt/releases/9.0/r/"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="com.sun.jersey" version="1.17.0.v201503170330"/>
<unit id="org.apache.solr.client.solrj" version="3.5.0.v20150506-0844"/>
<unit id="com.google.gson" version="2.2.4.v201311231704"/>
<unit id="com.google.guava" version="15.0.0.v201403281430"/>
<unit id="com.google.guava.source" version="15.0.0.v201403281430"/>
<unit id="org.apache.commons.io" version="2.2.0.v201405211200"/>
<unit id="com.google.inject" version="3.0.0.v201605172100"/>
<unit id="com.google.inject.source" version="3.0.0.v201605172100"/>
<unit id="ch.qos.logback.core" version="1.0.7.v20121108-1250"/>
<unit id="org.apache.commons.math" version="2.1.0.v201105210652"/>
<unit id="org.apache.commons.lang3" version="3.1.0.v201403281430"/>
<unit id="ch.qos.logback.slf4j" version="1.0.7.v201505121915"/>
<unit id="org.apache.commons.beanutils" version="1.8.0.v201205091237"/>
<unit id="com.google.inject.multibindings" version="3.0.0.v201605172100"/>
<unit id="org.codehaus.jackson.jaxrs" version="1.6.0.v20101005-1100"/>
<unit id="ca.odell.glazedlists" version="1.9.0.v201303080712"/>
<unit id="org.slf4j.log4j" version="1.7.2.v20130115-1340"/>
<unit id="javax.xml.rpc" version="1.1.0.v201209140446"/>
<unit id="javax.activation" version="1.1.0.v201211130549"/>
<unit id="org.apache.commons.lang" version="2.6.0.v201404270220"/>
<unit id="org.apache.commons.lang.source" version="2.6.0.v201404270220"/>
<unit id="ch.qos.logback.classic" version="1.0.7.v20121108-1250"/>
<unit id="org.apache.commons.codec" version="1.6.0.v201305230611"/>
<unit id="org.apache.commons.collections" version="3.2.2.v201511171945"/>
<unit id="org.apache.poi" version="3.9.0.v201405241750"/>
<unit id="javax.xml.soap" version="1.3.0.v201105210645"/>
<unit id="org.apache.commons.pool" version="1.6.0.v201204271246"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20160520211859/repository"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.remote.serial.feature.group" version="0.0.0"/>
<unit id="org.eclipse.remote.console.feature.group" version="0.0.0"/>
<unit id="org.eclipse.remote.feature.group" version="0.0.0"/>
<unit id="org.eclipse.remote.telnet.feature.group" version="2.1.0.201605242106"/>
<repository location="http://download.eclipse.org/tools/ptp/builds/remote/neon/milestones/RC2"/>
</location>
</locations>
</target>
