<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="xolotlLauncherBuilder"
         name="Xolot Launcher"
         point="org.eclipse.ice.item.itemBuilder">
      <implementation
            class="org.eclipse.ice.xolotl.XolotlLauncherBuilder">
      </implementation>
   </extension>

</plugin>
