<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="org.eclipse.ice.materials.ui.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="materialsFragment.e4xmi">
      </fragment>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.ice.materials.ui.MaterialsDatabaseEditor"
            default="false"
            id="org.eclipse.ice.materials.ui.MaterialsDatabaseEditor"
            name="Materials Database Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.eclipse.ice.materials.ui.EditMaterialsDatabaseHandler"
            description="Edit the Materials Database"
            id="org.eclipse.ice.materials.ui.EditDatabaseCommand"
            name="Edit Materials Database">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="org.eclipse.ice.materials.ui.toolbar"
               label="Materials Toolbar">
            <command
                  commandId="org.eclipse.ice.materials.ui.EditDatabaseCommand"
                  label="Edit Materials Database"
                  style="push">
                  <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="org.eclipse.ice.client.widgets.perspective">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="org.eclipse.ice.materials.ui.ScatteringDensityViewPart"
            fastViewWidthRatio="0.3"
            id="org.eclipse.ice.materials.ui.ScatteringDensityViewPart"
            name="Scattering Density"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="org.eclipse.ice.materials.ui.ReflectivityViewPart"
            fastViewWidthRatio="0.30"
            id="org.eclipse.ice.materials.ui.ReflectivityViewPart"
            name="Reflectivity"
            restorable="true">
      </view>
   </extension>

</plugin>
