<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/org.eclipse.ice.exodusII.test/src/org/eclipse/ice/exodusII/test/main/SimpleLauncher.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<mapAttribute key="org.eclipse.debug.core.environmentVariables">
<mapEntry key="LD_LIBRARY_PATH" value="/home/djg/libs/os/linux/x86_64/lib"/>
</mapAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.eclipse.ice.exodusII.test.main.SimpleLauncher"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="org.eclipse.ice.exodusII.test"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Djava.library.path=/home/djg/libs/os/linux/x86_64/lib:/home/djg/libs/os/linux/x86_64/exodus/lib:/home/djg/workspace-nice/org.eclipse.ice.exodusII/os/linux/x86_64"/>
</launchConfiguration>
