/documen.synctex.gz
/tmp/
/bin/
/OutputVisualizationTutorial.aux
/OutputVisualizationTutorial.log
/OutputVisualizationTutorial.out
/document.pdf
/GeometryEditorTutorial.aux
/GeometryEditorTutorial.log
/GeometryEditorTutorial.out
/geometryEditorTutoria.synctex.gz
/src/
