/**
 * $name DataElement.
 */

import { DataElement } from "DataElement";

export class $name extends DataElement {
	#foreach($field in $fields)
	${field.VarName}?: $primitiveMap["${field.Type}"];
	#end

	constructor() {
		super();
	}
}