/**
 * $name DataElement.
 */

import { DataElement } from "./data-element";

export class $name extends DataElement {
	#foreach($field in $fields)
	${field.VarName}?: $primitiveMap["#fieldtype"];
	#end

	constructor() {
		super();
	}
}