<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="mars" sequenceNumber="192">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.ease.ui.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ease.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ease.modules.charting.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ease.modules.team.svn.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ease.python.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ease.modules.unittest.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ease.javascript.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ease.modules.feature.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/ease/update/nightly"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.photran.feature.group" version="0.0.0"/>
<unit id="org.eclipse.photran.xlf.feature.group" version="0.0.0"/>
<unit id="org.eclipse.egit.feature.group" version="0.0.0"/>
<unit id="org.eclipse.equinox.p2.user.ui.source.feature.group" version="0.0.0"/>
<unit id="org.eclipse.tm.terminal.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.recommenders.rcp.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ptp.etfw.tau.feature.group" version="0.0.0"/>
<unit id="org.eclipse.cdt.bupc.feature.group" version="0.0.0"/>
<unit id="org.eclipse.wst.web_ui.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.cdt.msw.feature.group" version="0.0.0"/>
<unit id="org.eclipse.dltk.itcl.feature.group" version="0.0.0"/>
<unit id="org.eclipse.cdt.autotools.feature.group" version="0.0.0"/>
<unit id="org.eclipse.wst.jsdt.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.rse.useractions.feature.group" version="0.0.0"/>
<unit id="org.eclipse.equinox.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.photran.intel.feature.group" version="0.0.0"/>
<unit id="org.eclipse.cdt.qt.feature.group" version="0.0.0"/>
<unit id="org.eclipse.dltk.tcl.feature.group" version="0.0.0"/>
<unit id="org.eclipse.dltk.xotcl.feature.group" version="0.0.0"/>
<unit id="org.eclipse.tm.terminal.view.rse.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.cdt.testsrunner.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.equinox.p2.extras.feature.source.feature.group" version="0.0.0"/>
<unit id="org.eclipse.tcf.rse.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.wst.xsl.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ptp.etfw.feedback.perfsuite.feature.group" version="0.0.0"/>
<unit id="org.eclipse.m2e.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ptp.debug.sdm.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ptp.gem.feature.group" version="0.0.0"/>
<unit id="org.eclipse.equinox.p2.discovery.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ecf.remoteservice.sdk.source.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ptp.fortran.feature.group" version="0.0.0"/>
<unit id="org.eclipse.swtbot.eclipse.feature.group" version="0.0.0"/>
<unit id="org.eclipse.swtbot.ide.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ptp.feature.group" version="0.0.0"/>
<unit id="org.eclipse.remote.feature.group" version="0.0.0"/>
<unit id="org.eclipse.jdt.feature.group" version="0.0.0"/>
<unit id="org.eclipse.swtbot.eclipse.gef.feature.group" version="0.0.0"/>
<unit id="org.eclipse.tcf.te.tcf.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.cdt.core.parser.upc.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.cdt.gnu.multicorevisualizer.feature.group" version="0.0.0"/>
<unit id="org.eclipse.php.feature.group" version="0.0.0"/>
<unit id="org.eclipse.tm.terminal.connector.remote.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.dltk.ruby.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ptp.rm.jaxb.contrib.feature.group" version="0.0.0"/>
<unit id="org.eclipse.tcf.cdt.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.rse.feature.group" version="0.0.0"/>
<unit id="org.eclipse.wst.xml_ui.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.gef.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.mylyn.github.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.cdt.xlc.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.cdt.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.epp.package.modeling.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.linuxtools.javadocs.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ptp.pldt.upc.feature.group" version="0.0.0"/>
<unit id="org.eclipse.cdt.managedbuilder.llvm.feature.group" version="0.0.0"/>
<unit id="org.eclipse.cdt.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ecf.core.source.feature.group" version="0.0.0"/>
<unit id="org.eclipse.remote.console.feature.group" version="0.0.0"/>
<unit id="org.eclipse.linuxtools.cdt.libhover.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.swtbot.feature.group" version="0.0.0"/>
<unit id="org.eclipse.fx.ide.feature.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/releases/mars/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.apache.commons.collections" version="0.0.0"/>
<unit id="com.google.gson" version="0.0.0"/>
<unit id="javax.ws.rs" version="0.0.0"/>
<unit id="org.apache.commons.math" version="0.0.0"/>
<unit id="com.sun.jersey" version="0.0.0"/>
<unit id="org.apache.commons.beanutils" version="0.0.0"/>
<unit id="org.codehaus.jackson.jaxrs" version="0.0.0"/>
<unit id="ca.odell.glazedlists" version="0.0.0"/>
<unit id="javax.xml.rpc" version="0.0.0"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20140525021250/repository"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.nebula.feature.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/technology/nebula/archives/Q32014/release"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.nebula.widgets.nattable.extension.poi.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.nebula.widgets.nattable.extension.glazedlists.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.nebula.widgets.nattable.extension.glazedlists.source.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.nebula.widgets.nattable.core.source.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.nebula.widgets.nattable.extension.poi.source.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.nebula.widgets.nattable.core.feature.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/nattable/releases/1.3.0/repository"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.apache.log4j.source" version="0.0.0"/>
<unit id="org.eclipse.swtbot.eclipse.feature.group" version="0.0.0"/>
<unit id="org.hamcrest.core" version="0.0.0"/>
<unit id="org.eclipse.swtbot.eclipse.test.junit.feature.group" version="0.0.0"/>
<unit id="org.hamcrest.library.source" version="0.0.0"/>
<unit id="org.eclipse.swtbot.feature.group" version="0.0.0"/>
<unit id="org.eclipse.swtbot.generator.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.swtbot.eclipse.gef.feature.group" version="0.0.0"/>
<unit id="org.apache.log4j" version="0.0.0"/>
<unit id="org.hamcrest.library" version="0.0.0"/>
<unit id="org.eclipse.swtbot.ide.feature.group" version="0.0.0"/>
<unit id="org.eclipse.swtbot.forms.feature.group" version="0.0.0"/>
<unit id="org.hamcrest.core.source" version="0.0.0"/>
<repository location="http://download.eclipse.org/technology/swtbot/releases/latest"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="gov.lbnl.visit.swt" version="1.0.0.201602101600"/>
<repository location="http://eclipseice.ornl.gov/downloads/visit_java_client/1.0.0-SNAPSHOT/p2/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="bcprov" version="1.51.0"/>
<unit id="com.spotify.docker-client.shaded" version="3.1.1"/>
<unit id="bcpkix" version="1.51.0"/>
<repository location="http://eclipseice.ornl.gov/downloads/spotify_docker_client/SNAPSHOT-3.1.1-SHADED/p2"/>
</location>
</locations>
</target>
