<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated scenvironment -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.ice.developer.scenvironment.model.scenvironment.presentation.ScenvironmentModelWizardID"
            name="%_UI_ScenvironmentModelWizard_label"
            class="org.eclipse.ice.developer.scenvironment.model.scenvironment.presentation.ScenvironmentModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ScenvironmentModelFile.gif">
         <description>%_UI_ScenvironmentModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated scenvironment -->
      <editor
            id="org.eclipse.ice.developer.scenvironment.model.scenvironment.presentation.ScenvironmentEditorID"
            name="%_UI_ScenvironmentEditor_label"
            icon="icons/full/obj16/ScenvironmentModelFile.gif"
            extensions="scenvironment"
            class="org.eclipse.ice.developer.scenvironment.model.scenvironment.presentation.ScenvironmentEditor"
            contributorClass="org.eclipse.ice.developer.scenvironment.model.scenvironment.presentation.ScenvironmentActionBarContributor">
      </editor>
   </extension>

</plugin>
