<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension
         id="sdk_product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            description="The Eclipse Integrated Computational Environment SDK"
            name="ICE">
         <property
            name="appName"
            value="ICE">
         </property>
		<property
    		name="applicationXMI"
		    value="org.eclipse.platform/LegacyIDE.e4xmi">
		</property>
		<property
    		name="cssTheme"
    		value="org.eclipse.e4.ui.css.theme.e4_default">
		</property>
        <property
            name="startupForegroundColor"
            value="4A95FF">
        </property>
        <property
            name="startupMessageRect"
            value="7,485,665,20">
        </property>
		<property
		    name="startupProgressRect"
		    value="5,470,665,15">
		</property>
        <property
            name="applicationCSSResources" 
            value="platform:/plugin/org.eclipse.platform/images/"> 
        </property>
        <property
              name="windowImages"
              value="/icons/ice_logo_16x16.png,/icons/ice_logo_32x32.png,/icons/ice_logo_64x64.png,/icons/ice_logo_128x128.png,/icons/ice_logo_256x256.png">
        </property>
        <property
              name="preferenceCustomization"
              value="plugin_customization_sdk.ini">
        </property>
        <property
              name="aboutText"
              value="%aboutText">
        </property>
      </product>
  </extension>
  <extension
        id="runtime_product"
        point="org.eclipse.core.runtime.products">
     <product
           application="org.eclipse.ui.ide.workbench"
           description="The Eclipse Integrated Computational Environment"
           name="ICE">
        <property
              name="appName"
              value="ICE">
        </property>
        <property
              name="applicationXMI"
              value="org.eclipse.platform/LegacyIDE.e4xmi">
        </property>
        <property
              name="cssTheme"
              value="org.eclipse.e4.ui.css.theme.e4_default">
        </property>
        <property
              name="startupForegroundColor"
              value="4A95FF">
        </property>
        <property
              name="startupMessageRect"
              value="7,485,665,20">
        </property>
        <property
              name="startupProgressRect"
              value="5,470,665,15">
        </property>
        <property
              name="applicationCSSResources"
              value="platform:/plugin/org.eclipse.platform/images/">
        </property>
        <property
              name="windowImages"
              value="/icons/ice_logo_16x16.png,/icons/ice_logo_32x32.png,/icons/ice_logo_64x64.png,/icons/ice_logo_128x128.png,/icons/ice_logo_256x256.png">
        </property>
        <property
              name="preferenceCustomization"
              value="plugin_customization_runtime.ini">
        </property>
        <property
              name="aboutText"
              value="%aboutText">
        </property>
     </product>
  </extension>
</plugin>
